
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/usr/share/rofi/themes/rounded-orange-dark.rasi"

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
